
/* Your CSS Code here. */
*{
	margin:0px;
	padding:0px;
}

.navbar{
/* 	background-color:black; */
/* 	margin-top:0px; */
}

.navbar>.box>.list{
	display:grid;
	padding:50px;
	grid-template-columns:repeat(1,1fr)
}
.box{
	background-color:black;
}


